<ul>
<% 
@paise.errors.full_messages.each do |m|

%>
<li> <%= m %></li> 
<% end %>
</ul>
<p>
<%= p.label :pais_nombre %> </br>
<%= p.text_field :pais_nombre %>
</p>
<p>
<%= p.label :pais_code %> </br>
<%= p.text_field :pais_code %>
</p>
<p>
<%= p.submit "Enviar" %>
</p>