<h1>Paises#index</h1>
<%= @params %>
<table class="table ">
	  <thead class="thead-dark">
	<tr><TH>Pais</TH><TH>Codigo</TH><TH colspan="2">
		<%= link_to 'Nuevo', paises_new_path %></TH></tr>
</thead>
	<tbody>
	<% @paises.each do |p| %>
	
	<tr><TD><%= p.pais_nombre %></TD>
		<TD><%= p.pais_code %></TD>
		<TD><%= link_to 'Editar', paises_edit_path(p['id']) %></TD><TD>
<%= link_to 'Borrar', paises_borrar_path(p['id']) %>
		</TD>
	</tr>
    <% end %>
    </tbody>
</table>