<p id="notice"><%= notice %></p>

<h1>Paises</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paises.each do |paise| %>
      <tr>
        <td><%= paise.nombre %></td>
        <td><%= paise.codigo %></td>
        <td><%= link_to 'Show', paise %></td>
        <td><%= link_to 'Edit', edit_paise_path(paise) %></td>
        <td><%= link_to 'Destroy', paise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paise', new_paise_path %>
